<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>hot_test</title>
	<link href="{{ url_for('static', filename='css/handsontable.full.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/test_css.css') }}" rel="stylesheet">
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.3.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/handsontable.full.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/test.js') }}"></script>
</head>
<body>
	<!--<h2>Handsontable Financial Example</h2>
	<p>Head to <a href="https://handsontable.com" target="_blank">handsontable.com</a> to learn more about Handsontable.</p>-->
	<!--<div class="controls">
        <button name="load" id="load" class="intext-btn" data-vivaldi-spatnav-clickable="1">Load</button>
        <button name="save" id="save" class="intext-btn" data-vivaldi-spatnav-clickable="1">Save</button>
        <label><input type="checkbox" name="autosave" id="autosave" checked="checked" autocomplete="off">Autosave</label>
	</div>
	<pre id="example1console" class="console">Click "Load" to load data from server</pre>
	<div id="example"></div>-->
	<div data-jsfiddle="example1" class="ajax-container">
		<div class="controls">
			<button name="load" id="load" class="intext-btn" data-vivaldi-spatnav-clickable="1">Load</button>
			<button name="save" id="save" class="intext-btn" data-vivaldi-spatnav-clickable="1">Save</button>
			<!--<label><input type="checkbox" name="autosave" id="autosave" checked="checked" autocomplete="off">Autosave</label>-->
		</div>
		<pre id="example1console" class="console">Click "Load" to load data from server</pre>
		<div id="example"></div>
    </div>
</body>
</html>